In [43]:
import pandas as pd
from pathlib import Path
txt = Path('Input/day2.txt').read_text()
list_text=txt.split('\n')[:-1]
opponent_list=[item[0] for item in list_text]
response_list=[item[2] for item in list_text]
tournament_df=pd.DataFrame(dict(zip(['opponents','responses'],[opponent_list,response_list])))
tournament_df

     opponents responses
0            C         Z
1            C         X
2            B         Z
3            A         X
4            A         Z
...        ...       ...
2495         B         Z
2496         B         Z
2497         B         Z
2498         C         Z
2499         C         Z

[2500 rows x 2 columns]

In [44]:
score_df=pd.DataFrame([[4,8,3],[1,5,9],[7,2,6]],columns=['X','Y','Z'],index=['A','B','C'])  
score_df

   X  Y  Z
A  4  8  3
B  1  5  9
C  7  2  6

In [45]:
tournament_df['scores']=[score_df.loc[tournament_df.iloc[i[0],0],tournament_df.iloc[i[0],1]] for i in tournament_df.iterrows()]
result=sum(tournament_df['scores'])
print('My total score if everything goes exactly according to the strategy guide would be: '+str(result))

My total score if everything goes exactly according to the strategy guide would be: 15572

In [46]:
score_revised_df=pd.DataFrame([[3,4,8],[1,5,9],[2,6,7]],columns=['X','Y','Z'],index=['A','B','C'])  
score_revised_df

   X  Y  Z
A  3  4  8
B  1  5  9
C  2  6  7

In [47]:
tournament_df['scores_updated']=[score_revised_df.loc[tournament_df.iloc[i[0],0],tournament_df.iloc[i[0],1]] for i in tournament_df.iterrows()]
result2=sum(tournament_df['scores_updated'])
print('My total score if everything goes exactly according to the strategy guide would be: '+str(result2))

My total score if everything goes exactly according to the strategy guide would be: 16098